<div class="main">
  <div class="header">
    <div *ngIf="state === 1 || state === 2" class="text-right">
      <button type="button" class="btn btn-secondary" (click)="openSignIn()">Sign in</button>
      <button type="button" class="btn btn-secondary" (click)="openSignUp()">Sign up</button>
    </div>

    <div *ngIf="state === 3" class="text-right">
      <button type="button" class="btn btn-secondary" (click)="logOut()">Log out</button>
      <button type="button" class="btn btn-secondary" (click)="openAddPhoto()">Add photo</button>
    </div>
  </div>

  <div *ngIf="state === 1" class="first-state">
    <div class="half">
      <input type="file" (change)="fileChangedEvent($event)" class="btn-search" />
    </div>
    <div>{{noPhotoMessage}}</div>
    <div>
      <button type="button" class="btn add-description-btn col-md-6" (click)="detect()">Detect</button>
    </div>
  </div>

  <div *ngIf="state === 2" class="second-state">
    <br>
    <img [src]="onePagePath"/>
    <br>
    <table class="table text-center">
      <thead>
        <tr>
          <th class="text-center">gender</th>
          <th class="text-center">age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{onePageGender}}</td>
          <td>{{onePageAge}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <button type="button" class="btn btn-secondary" (click)="state = 1">Back to upload</button>
    <button type="button" class="btn add-description-btn" (click)="openSave()">Save result</button>
  </div>

  <div *ngIf="state === 3" class="third-state">
    <div *ngFor="let item of photos" style="display: inline-block; width: 50%">
      <img [src]="item.path" height="400px"/>
      <br>
      <table class="table text-center">
        <thead>
        <tr>
          <th class="text-center">gender</th>
          <th class="text-center">age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{item.gender}}</td>
          <td>{{item.age}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template class="collapse" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Save result for user</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You can add this result to your collection</p>
    <input class="form-control" [(ngModel)]="login" placeholder="Input login"/>
    <br>
    <input class="form-control" [(ngModel)]="password" placeholder="Input password"/>
  </div>
  <div class="modal-footer">
    <span style="margin-right: 10px; color: red">{{modalError}}</span>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn add-description-btn" (click)="savePhoto(c)">Add</button>
  </div>
</ng-template>

<ng-template class="collapse" #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sign up</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please enter login and password: </p>
    <input class="form-control" [(ngModel)]="login" placeholder="Input login"/>
    <br>
    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Input password"/>
  </div>
  <div class="modal-footer">
    <span style="margin-right: 10px; color: red">{{modalError}}</span>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn add-description-btn" (click)="signUp(c)">Sign in</button>
  </div>
</ng-template>

<ng-template class="collapse" #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sign in</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please enter login and password: </p>
    <input class="form-control" [(ngModel)]="login" placeholder="Input login"/>
    <br>
    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Input password"/>
  </div>
  <div class="modal-footer">
    <span style="margin-right: 10px; color: red">{{modalError}}</span>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn add-description-btn" (click)="signIn(c)">Sign in</button>
  </div>
</ng-template>

<ng-template class="collapse" #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new photo to collection</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div *ngIf="modalState === 1" class="first-state">
      <div class="half">
        <input type="file" (change)="fileChangedEvent($event)" class="btn-search" />
      </div>
      <div>{{noPhotoMessage}}</div>
      <div>
        <button type="button" class="btn add-description-btn col-md-6" (click)="detect(true)">Detect</button>
      </div>
    </div>

    <div *ngIf="modalState === 2" class="second-state">
      <br>
      <img [src]="onePagePath" style="max-width: 80%"/>
      <br>
      <table class="table text-center">
        <thead>
        <tr>
          <th class="text-center">gender</th>
          <th class="text-center">age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{onePageGender}}</td>
          <td>{{onePageAge}}</td>
        </tr>
        </tbody>
      </table>
      <br>
      <button type="button" class="btn btn-secondary" (click)="modalState = 1">Back to upload</button>
      <button type="button" class="btn add-description-btn" (click)="savePhoto(emptyFunction, mode)">Save result</button>
    </div>
  </div>
  <div class="modal-footer">
    <span style="margin-right: 10px; color: red">{{modalError}}</span>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
